<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add customer to list</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h3>Add a customer</h3>
<form method="POST" th:action="@{/add-customer}" th:object="${customer}">
    <label>First name:</label>
    <input type="text" name="firstName" size="50">
    <br>

    <label>Last name:</label>
    <input type="text" name="lastName" size="50">
    <br>

    <label>Email address:</label>
    <input type="text" name="emailAddress" size="50">
    <br>
    <label>Job title:</label>
    <input type="text" name="jobTitle" size="50"><br>

    <label>Mobile phone:</label>
    <input type="text" name="mobilePhone" size="50"><br>

    <label>City:</label>
    <input type="text" name="city" size="50"><br>

    <label>Web page:</label>
    <input type="text" name="webPage" size="50"><br>

    <input type="submit" value="Save">
</form>
</body>
</html>