<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Update customer ID. ' + customer.id}"></title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h3>Edit the customer</h3>
<form method="POST" th:action="@{/update-customer}" th:object="${customer}">
    <input type="number" hidden="hidden" name="id" th:value="${customer.id}">

    <label>First name:</label>
    <input type="text" name="firstName" size="50" th:value="${customer.firstName}">
    <br>

    <label>Last name:</label>
    <input type="text" name="lastName" size="50" th:value="${customer.lastName}">
    <br>

    <label>Email address:</label>
    <input type="text" name="emailAddress" size="50" th:value="${customer.emailAddress}">
    <br>

    <label>Job title:</label>
    <input type="text" name="jobTitle" size="50" th:value="${customer.jobTitle}"><br>

    <label>Mobile phone:</label>
    <input type="text" name="mobilePhone" size="50" th:value="${customer.mobilePhone}"><br>

    <label>City:</label>
    <input type="text" name="city" size="50" th:value="${customer.city}"><br>

    <label>Web page:</label>
    <input type="text" name="webPage" size="50" th:value="${customer.webPage}"><br>
    <br>

    <input type="submit" value="Update">
</form>
</body>
</html>